<!-- Основная секция -->
<section class="py-5">
  <div class="container">
    <h1 class="texth1 mb-4">Образовательные ресурсы</h1>
    <p class="lead text-center mb-5">
      Ресурсы для самостоятельного обучения: учебные пособия, лекции и
      мастер-классы с расшифрованными материалами, субтитрами и поддержкой
      русского жестового языка (РЖЯ).
    </p>

    <div class="row">
      <% data.get.forEach((d) => { %>
          <%- include('./card/courses', {d}) %>
      <% }) %>
    </div>
  </div>
</section>

