<!-- views/main/profile.ejs -->
<div class="container py-5">
  <div class="text-center mb-4">
    <img 
      src="/images/avatar-default.png" 
      alt="Аватар" 
      class="rounded-circle mb-3" 
      style="width: 100px; height: 100px; object-fit: cover;"
    >
    <h4><%= data.user.Name %></h4>
  </div>
  <div class="row">
  </div>
</div>